<link rel='stylesheet' href='/css/mdl.css'/>

<div class='wrapper' style='padding-bottom:50px;'>
	<form class='form' method='post' action='/committee/create'>
		<input hidden name='id' value="<%= conferenceId %>"/>
		<div class='form-group'>
			<label>Committee Name</label>

			<div>
				<input name='name' required autofocus/>
			</div>
		</div>
		<div class='form-group'>
			<label>Chair Info</label>

			<div>
				<label>Chair Name</label>
				<input name='chairname' required/>
			</div>
			<div>
				<label>Chair Email</label>
				<input name='chairemail' required/>
			</div>
		</div>
		<div class='form-group d'>
			<label style='padding-bottom:10px;'>Dais Info</label>

			<div class='dais'>
				<div>
					<label>Dais Name</label>
					<input name='daisname' required/>
				</div>
				<div>
					<label>Dais Email</label>
					<input name='daisemail' required/>
				</div>
			</div>
		</div>
		<button type='button' id='btn1' class='btncircle'>+</button>
		<div class='form-group s'>
			<label style='padding-bottom:10px;'>Student Info</label>

			<div class='student'>
				<div class='group'>
					<div>
						<label>Student Name</label>
						<input name='studentname' required/>
					</div>
					<div>
						<label>Student Email</label>
						<input name='studentemail' required/>
					</div>
				</div>
				<div class='group'>
					<div>
						<label>Student's School</label>
						<input name='studentschool' required/>
					</div>
					<div>
						<label>Country</label>
						<input name='studentschool' required/>
					</div>
				</div>
			</div>
		</div>
		<button type='button' id='btn2' class='btncircle'>+</button>
		<div class='form-group'>
			<button type="submit" class="btn btn-primary">
                Continue
            </button>
		</div>
	</form>
</div>

<!-- Rich Tooltip -->
<div class="mdl-tooltip" data-mdl-for="btn1" style='font-size: 14px;'>
Add another Dais member
</div>
<div class="mdl-tooltip" data-mdl-for="btn2" style='font-size: 14px;'>
Add another student
</div>