<link rel='stylesheet' href='/css/mdl.css'/>

<div class='wrapper' style='padding-bottom:50px;'>
	<form class='form createcommittee' method='post'>
		<input hidden name='id' value="<%= conferenceId %>" class='idhidden'/>
		<div class='form-group'>
			<label>Committee Name</label>

			<div>
				<input name='name' required autofocus/>
			</div>
		</div>
		<div class='form-group'>
			<label style='position: relative;left:-16px;'>Chair Info</label>

			<div>
				<label>Chair Name</label>
				<input name='chairname' class='chairname' required/>
			</div>
			<div>
				<label>Chair Email</label>
				<input name='chairemail' class='chairemail' required/>
			</div>
		</div>
		<div class='form-group d'>
			<label style='padding-bottom:10px;position: relative;left:-16px;'>Dais Info</label>

			<div class='dais'>
				<div>
					<label>Dais Name</label>
					<input name='daisname' required/>
				</div>
				<div>
					<label>Dais Email</label>
					<input name='daisemail' required/>
				</div>
			</div>
		</div>
		<button type='button' id='btn1' class='btncircle'>+</button>
		<div class='form-group c'>
			<label style='padding-bottom:10px;position: relative;left:-16px;'>Country Info</label>

			<div class='country'>
				<div class='group'>
					<div>
						<label>Country Name</label>
						<input name='countryname' class='countryname' required/>
					</div>
					<div id='btn3' style='outline:none;'>
						<label>Delegation Name</label>
						<% if (delegations.length > 0) { %>
							<div class='select'>
								<select name='countrydelegationname' class='countrydelegationname'>
									<option disabled selected value>Select a delegation</option>
									<% for (var i = 0; i < delegations.length; i++) { %>
										<option value='<%= delegations[i].Name %>'><%= delegations[i].Name %></option>
									<% } %>
								</select>
							</div>
						<% } %>
					</div>
				</div>
				<div class='studentssearch hidden'>
					<div class='search'>
						<input class='student-search' placeholder='Search for a Student'/>
					</div>
					<div class='spinner hidden' style='margin-top:20px;'> 
						<div class='spinner-inner'>
							<div class='spinner-chasing-dots'>
								<div class='spinner-item'></div>
								<div class='spinner-item'></div>
							</div>
						</div>
					</div>
					<div class='list hidden'></div>
				</div>
			</div>
		</div>
		<button type='button' id='btn2' class='btncircle' style='outline: none;'>+</button>
		<div class='form-group'>
			<button type="submit" class="btn btn-primary">
                Continue
            </button>
		</div>
	</form>
</div>

<!-- Rich Tooltip -->
<div class="mdl-tooltip" data-mdl-for="btn1" style='font-size: 14px;'>
Add another Dais member.
</div>
<div class="mdl-tooltip" data-mdl-for="btn2" style='font-size: 14px;'>
Add another country.
</div>
<div class="mdl-tooltip" data-mdl-for="btn3" style='font-size: 14px;'>
The delegation which students of this country are from.
</div>