<div class='wrapper'>
	<div class='section'>	
		<div class='conferenceswrapper'>
			<label class='title'>Your Conferences</label>
			<div class='action'>
				<a class='button green' href='/create/conference'>Create a Conference</a>
			</div>
			
			<div class='conferences'>
				<label class='title'>Conferences</label>
				<% if (conferences.length > 0) { %>
					<% for(var i = 0; i < conferences.length; i++) { %>
						<div class='conference'>
							<label class='title'><a href="conferences/<%= conferences[i].id %>"><%= conferences[i].Title %></a></label>
							<label class='subtitle'>Dates</label>
							<span class='group'><label>From: <%= JSON.parse(conferences[i].Dates)[0] %></label><label>To: <%= JSON.parse(conferences[i].Dates)[1] %></label></span>
						</div>
					<% } %>
				<% } else { %>
					<label class='none'>You do not have any conferences</label>
				<% } %>
			</div>
		</div>
	</div>
</div>