<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pheonix</title>

    <!-- Styles -->
    <link href="/css/bundle.css" rel="stylesheet">
</head>
<body>
    <div id="app">
    	<% if (auth == false) { %>
        <nav class='navbar'>
            <div class='logo'>
                <img src='img/logo.png'/>
            </div>
            <div class='auth'>
                <% if (guest) { %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                <% } else { %>
                <li class='blue'><a href="/@me">Dashboard</a></li>
				<% } %>
            </div>
        </nav>
        <% } %>

        <%- body %>
    </div>

    <!-- Scripts -->
    <script src="/js/app.js"></script>
</body>
</html>
